POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
# POSTGRES_SSL=true

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_DEFAULT_PORT=5050

SEED_USER_STARTER_EMAIL=test-starter@example.com
SEED_USER_STARTER_PASSWORD=starter-test-password
SEED_USER_PRO_EMAIL=test-pro@example.com
SEED_USER_PRO_PASSWORD=pro-test-password
SEED_USER_BUSINEES_EMAIL=test-business@example.com
SEED_USER_BUSINEES_PASSWORD=business-test-password

APP_PORT=3000

JWT_SECRET=your-secret-key-here
JWT_EXPIRES_IN=24h

# Email verification configuration
EMAIL_SERVICE_HOST=smtp.ukr.net
EMAIL_SERVICE_PORT=465
EMAIL_SERVICE_USER=your-email@ukr.net
EMAIL_SERVICE_PASSWORD=your-app-password
BASE_API_URL=http://localhost:3000/api