.profileCard {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 846px;
  width: 100%;
  margin-bottom: 40px;
}

.profileCard::after {
  position: absolute;
  bottom: -20px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--fd-color-muted);
}

@media (min-width: 768px) {
  .profileCard {
    gap: 60px;
  }
}

@media (min-width: 1140px) {
  .profileCard {
    gap: 75px;
    margin-top: 20px;
  }
}

.userInfo {
  display: flex;
  gap: 16px;
}

.userInfo a {
  text-decoration: none;
  color: inherit;
}

.avatar {
  width: 60px;
  height: 60px;
}

@media (min-width: 1140px) {
  .avatar {
    width: 85px;
    height: 85px;
  }
}

.user {
  display: flex;
  flex-direction: column;
  width: 116px;
  gap: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.name {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: var(--fd-font-weight-extrabold);
  text-decoration: none;
}

.ownRecipes {
  margin: 0;
  font-size: 12px;
  color: var(--fd-color-muted);
}

@media (min-width: 768px) {
  .ownRecipes {
    font-size: 14px;
  }
}

.followBtn {
  /* width: 92px; */
  /* height: 36px; */
  padding: 8px 16px;
  font-size: 14px;
  background-color: transparent;
  color: var(--fd-color-main-alt);
  font-weight: var(--fd-font-weight-bold);
  border: 1px solid var(--fd-color-muted);
}

@media (min-width: 768px) {
  .followBtn {
    width: 116px;
    padding: 10px 24px;
    font-size: 16px;
  }
}

.gallery {
  display: none;
}

@media (min-width: 768px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .galleryItem:nth-child(n + 4) {
    display: none;
  }
}

@media (min-width: 1440px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }

  .galleryItem:nth-child(n + 4) {
    display: revert;
  }

  .galleryItem:nth-child(n + 5) {
    display: none;
  }
}

.galleryItem {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 15px;
  width: 100px;
  height: 100px;
}

.galleryImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.iconWrapper {
  flex-shrink: 0;
  border-radius: var(--fd-radius-pill);
  border: 1px solid var(--fd-button-muted-bg);
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
